@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;700;900&family=Lato:wght@400;700&family=Montserrat&display=swap"); /* get more font sizes */
/* Default */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

.row {
  width: 100%;
  max-width: 1280px;
  padding: 0 24px;
  margin: 0 auto;
}

.purple {
  color: #7342d6;
}

.btn {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-weight: 900;
  font-size: 100%;
  border: none;
  transition: all 500ms ease;
}

.btn:hover {
  background-color: rgb(52, 14, 128);
  cursor: not-allowed;
}

h1 {
  font-size: 3rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

/* NAVIGATION */

nav {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.img__logo {
  width: 40px;
  margin-right: 12px;
}

.nav__link--logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 900;
}

.nav__link--logo:hover {
  color: rgb(100, 21, 255);
}

.nav__link {
  font-size: 0.875rem;
  font-weight: 600;
  margin: 0 1.5rem;
  transition: all 500ms ease;
}

.nav__link:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
  color: rgb(100, 21, 255);
}

.nav__link:nth-child(5) {
  margin-left: 50px;
}

.nav__link--primary {
  background-color: rgb(100, 21, 255);
  color: white;
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  transition: all 300ms;
}

.nav__link--primary:hover {
  background-color: rgb(52, 14, 128);
  color: white;
  text-decoration: none;
}

/* BURGER MENU */

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  text-align: center;
  border: none;
  color: #6415ff;
  display: none;
}

.menu__backdrop {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  margin: 2rem 1rem;
  padding: 4rem;
  border: 1px solid rgba(0, 0, 0, 0.048);
  border-radius: 0.5rem;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(400%);
  transition: all 700ms ease;
}

.menu--open .menu__backdrop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding-bottom: 0.25rem;
  margin: 1rem 0;
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: 1.125rem;
}

.menu__link {
  color: black;
  transition: all 300ms ease;
}

.menu__link:hover {
  color: #6415ff;
  border-bottom: 1px solid #6415ff;
  padding-bottom: 0.25rem;
}

.btn__menu--close {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: black;
}

/*

HEADER

*/

header {
  height: calc(90vh - 100px);
}

.container {
  padding: 80px 0;
}

.header__description {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__left--column {
  width: 100%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  animation: fade-right 650ms 500ms backwards;
}

@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__para {
  font-size: 18px;
  margin: 40px 0;
}

.header__inputs {
  margin-bottom: 64px;
  position: relative;
}

.header__input {
  width: 80%;
  padding: 20px 192px 20px 32px;
  border-radius: 9999px;
  border: 2px solid #e5e7eb;
  transition: all 300ms ease;
  opacity: 0.9;
  font-weight: 500;
  font-size: 100%;
}

.header__input:hover {
  border: 2px solid gray;
}

.header__input:active {
  border: 2px solid red;
}

.btn__header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: 10px 23% 8px 10px;
  border: none;
}

.customers {
  color: rgb(160, 174, 192);
  font-size: 0.75rem;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 0.05rem;
}

.customer__logos {
  margin: 16px 0 0;
  padding: 0 128px 0 0;
  opacity: 0.5;
}

.header__right--column {
  width: 100%;
  max-width: 60%;
  animation: fade-left 650ms 500ms backwards;
}

@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__img--wrapper {
  width: 100%;
  max-width: 800px;
}

.header__img {
  width: 100%;
}

/*

FEATURES

*/

.feature__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__header {
  margin-bottom: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-weight: 700;
}

.section__title {
  font-size: 48px;
  font-weight: 900;
  color: rgb(36, 62, 99);
  margin-top: 1rem;
}

.feature__para {
  width: 100%;
  max-width: 70%;
  text-align: center;
  font-size: 20px;
  margin-top: 16px;
  font-weight: 500;
  line-height: 1.5;
  color: #7c8ba1;
}

.services {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.service {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: calc(100% / 3);
  padding: 2rem 0.5rem;
}

.service__img--wrapper .service__img {
  padding: 1.25rem;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 9999px;
  border-width: 1px;
  text-align: center;
}

.service__description {
  margin-left: 1rem;
  max-width: 200px;
  display: flex;
  flex-direction: column;
}

.service__title {
  margin-top: 1rem;
  font-size: 1.5rem;
  color: #243e63;
  font-weight: 700;
  letter-spacing: 0.025em;
}

.service__para {
  margin-top: 0.25rem;
  font-weight: 500;
  line-height: 2;
  color: rgb(124 139 161);
}

/*

QUALITY

*/